apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
data:
  redis.conf: |
    bind 0.0.0.0
    port 6379
    appendonly yes
    maxmemory 500mb
    maxmemory-policy allkeys-lru
    tcp-keepalive 300
    protected-mode yes
    include /run/redis-auth/redis-password.conf
