---
http_interactions:
- request:
    method: put
    uri: https://s3.us.archive.org/learning-registry-test/transactions-dump.json
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1,
            "status": "created",
            "envelope_id": 1,
            "created_at": "2016-05-26T09:16:20.943Z",
            "updated_at": "2016-05-26T09:16:20.943Z"
          },
          {
            "id": 2,
            "status": "deleted",
            "envelope_id": 2,
            "created_at": "2016-05-26T09:16:20.965Z",
            "updated_at": "2016-05-26T09:16:20.965Z"
          }
        ]
    headers:
      Content-Type:
      - application/json
      Authorization:
      - LOW <INTERNET_ARCHIVE_ACCESS_KEY>:<INTERNET_ARCHIVE_SECRET_KEY>
  response:
    status:
      code: 200
      message: Ok
    headers:
      Etag:
      - '"08a85545b21e64df6ab8caad43be95a2"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 May 2016 14:44:57 GMT
recorded_with: VCR 3.0.3
