[Unit]
After=network.target
Description=Gremlin Server

[Service]
ExecStart=/opt/gremlin/server/start_gremlin.sh
ExecStop=/opt/gremlin/server/stop_gremlin.sh
RemainAfterExit=yes
Type=oneshot
User=cloud66-user

[Install]
WantedBy = multi-user.target
