---
http_interactions:
- request:
    method: get
    uri: https://s3.us.archive.org/learning-registry-test/resource.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - LOW <INTERNET_ARCHIVE_ACCESS_KEY>:<INTERNET_ARCHIVE_SECRET_KEY>
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Location:
      - http://ia601500.s3dns.us.archive.org:80/learning-registry-test/resource.json
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<Error xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Code>TemporaryRedirect</Code><Message>Please
        re-send this request to the specified temporary endpoint. \n                          Continue
        to use the original request endpoint for future requests.</Message><Endpoint>ia601500.s3dns.us.archive.org:80</Endpoint><Bucket>learning-registry-test</Bucket></Error>"
  recorded_at: Thu, 26 May 2016 15:04:04 GMT
- request:
    method: get
    uri: http://ia601500.s3dns.us.archive.org/learning-registry-test/resource.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - LOW <INTERNET_ARCHIVE_ACCESS_KEY>:<INTERNET_ARCHIVE_SECRET_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Upload-Date:
      - '2016-05-16T11:16:29.000Z'
      X-Ias3-Encoded-Key:
      - resource.json
      Last-Modified:
      - Mon, 16 May 2016 11:16:29 GMT
      Etag:
      - '"e2272eddc9fa07a8d98803af1af9ddbd"'
    body:
      encoding: UTF-8
      string: |-
        {
          "url": "http://example.org/activities/16/detail",
          "name": "The Constitution at Work",
          "description": "In this activity students will analyze envelopes ...",
          "learning_registry_metadata": {
            "identity": {
              "signer": "Alpha Node <administrator@example.org>",
              "submitter": "john doe <john@example.org>",
              "submitter_type": "user"
            },
            "terms_of_service": {
              "submission_tos": "http://example.org/tos"
            },
            "digital_signature": {
              "key_location": [
                "http://example.org/pubkey"
              ]
            },
            "payload_placement": "inline"
          }
        }
  recorded_at: Thu, 26 May 2016 15:04:05 GMT
recorded_with: VCR 3.0.3
